.card__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.card__paragraph:not(:last-of-type) {
  margin-bottom: 26px;
}
@media screen and (max-width: 1023px) {
  .card__paragraph:not(:last-of-type) {
    margin-bottom: 25px;
  }
}
