.content {
  padding-bottom: 92px;
}
@media screen and (max-width: 1023px) {
  .content{
    padding-bottom: 88px;
  }
  .content:nth-last-of-type(2) {
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 767px) {
  .content{
    padding-bottom: 64px;
  }
  .content:nth-last-of-type(2) {
    padding-bottom: 66px;
  }
}
