.photo-greed {
  display: grid;
  max-width: calc(100% - 48px*2);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-greed {
    grid-gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-greed {
    max-width: 928px;
    width: calc(100% - 24px*2);
    grid-gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .photo-greed {
    max-width: 720px;
    width: calc(100% - 16px*2);
    grid-gap: 12px;
  }
}
