.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: calc(100% - 48px*2);
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .footer {
    max-width: 928px;
    width: calc(100% - 24px*2);
  }
}
@media screen and (max-width: 767px) {
  .footer {
    min-height: 310px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 720px;
    width: calc(100% - 16px*2);
  }
}
