.card {
  display: grid;
  grid-template-columns: 460px 484px;
  gap: 48px 40px;
  max-width: calc(100% - 148px*2);
  width: 100%;
  margin: 0 auto;
}
.card:not(:last-of-type) {
  margin-bottom: 80px;
}
@media screen and (max-width: 1279px) {
  .card {
    grid-template-columns: minmax(430px, 460px) minmax(446px, 484px);
    max-width: 984px;
    width: calc(100% - 48px*2);
    gap: 48px 32px;
  }
}
@media screen and (max-width: 1023px) {
  .card {
    grid-template-columns: minmax(330px, 440px) minmax(342px, 456px);
    max-width: 928px;
    width: calc(100% - 24px*2);
    gap: 48px 28px;
  }
  .card:not(:last-of-type) {
    margin-bottom: 73px;
  }
}
@media screen and (max-width: 767px) {
  .card {
    grid-template-columns: 1fr;
    max-width: 720px;
    width: 100%;
    gap: 32px;
  }
  .card:not(:last-of-type) {
    margin-bottom: 50px;
  }
}
